* {
    font-family: Arial, Helvetica, sans-serif;
}

#titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: sticky;
    top: 10px;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 20px 1px;
    background: linear-gradient(to right top, #D0ABD6, #712D7B);
}

#titulo > * {
    padding: 0 50px;
}

.hlink {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 250px;
}

#padre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#padre {
    justify-content: space-between;
}

div#padre {
    margin-top: 50px;
}

section {
    width:55%;
}

aside {
    width:35%;
    text-align: center;
}

aside > ul {
    list-style: none;
}

article.hijo {
    width: 40%;
}